*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cards{
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.cards-header{
    display: flex;
    gap: 25px;
}
.cards-header div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100px;
    cursor: pointer;
}
.cards-block{
    height: 500px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.card{

    width: 300px;
    min-height: 200px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 250px;
}
.card p{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 30px;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    line-height: 2;
}
.active{
    border: 5px solid blue;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.modal{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(52,52,52,.58);
    z-index: 10;
    top: 0;
    left: 0;
}
.modal-block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    width: auto;
    margin: 0 auto;
    background: #fff;
    min-height: 300px;
    padding: 15px;
}
.modal-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-bottom: 15px;
}
.modal-list{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.modal-card{
    width: 300px;
    min-height: 200px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.modal-card img{
    width: 100%;
    height: 250px;
}
.modal-card p{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 30px;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    line-height: 2;
}
.modal-close{
    padding: 2px 7px;
    font-size: 16px;
    border: 1px #000 solid;
    border-radius: 5px;
    cursor: pointer;
}